body {
  background-color: #84ac7c;
 
}

#root {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 4px 2px 5px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.grey-font {
  color: gray;
}

nav {
  height: 70px;
  display: flex;
  margin: 10px;
  padding: 0px 8px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color:#b46426;
  display: flex;
  justify-content: center;
  
}



.nav-title {
  font-size: xx-large;
    font-family: cursive;
    align-self: center;
}

.nav-title span {
  font-family: fantasy;
  font-size: xxx-large;
  align-self: center;
}


main {
  padding: 36px;
}



.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  width: 70%;
  height: 400px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme-image {
  width: 300px;
  /* max-width: 100%; */
  height: 300px;
  position: absolute;

  
}

.img-wrapper {
  display: flex;
  position: relative;

}

.top-text {
  position: absolute;
}

.bottom-text {
  position: absolute;
}


/* 





*/

.box {
  border: 1px solid black;
  height: 100px;
  width: 200px;
  display: inline-block;
  margin: 2px;
}